.header {
  position: relative;
  background-color: rgb(231, 231, 231, 0.5);
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.title {
  text-decoration: none;
  color: inherit;
}

.hamburger {
  display: none;
}

.ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.li {
  list-style: none;
}

.a {
  padding: 0.5em;
  color: inherit;
  text-decoration: none;
}

.a:hover {
  background-color: rgb(231, 231, 231);
}

@media only screen and (max-width: 850px) {
  .header {
    justify-content: space-between;
  }

  .hamburger {
    display: block;
    font-size: 40px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .container {
    background-color: transparent;
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
  }

  .showListMenu {
    visibility: visible;
    top: 0;
    transition: all 1.0s ease;
  }

  .hideListMenu {
    visibility: hidden;
    top: -361px;
    transition: all 1.0s ease;
  }

  .ul {
    position: relative;
    background-color: rgb(221, 221, 221);
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em 0;
  }

  .li {
    text-align: center;
    padding: 0.5em;
    width: 100%;
  }

  .a {
    border-radius: 0.5em;
    background-color: white;
    width: 80%;
  }

  .a:hover {
    background-color: transparent;
  }
} 